[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/asciidoc/syntax"]
	path = bundle/asciidoc/syntax
	url = https://github.com/dagwieers/asciidoc-vim.git
	ignore = untracked
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
	ignore = untracked
[submodule "bundle/tskeleton"]
	path = bundle/tskeleton
	url = https://github.com/tomtom/tskeleton_vim.git
	ignore = untracked
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
	ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/perl"]
	path = bundle/perl
	url = https://github.com/petdance/vim-perl
	ignore = untracked
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	ignore = untracked
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = https://github.com/vim-scripts/perl-support.vim.git
	ignore = untracked
[submodule "bundle/antlr3"]
	path = bundle/antlr3
	url = https://github.com/vim-scripts/antlr3.vim.git
	ignore = untracked
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/bmatheny/vim-scala.git
	ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = untracked
[submodule "bundle/cscope_macros"]
	path = bundle/cscope_macros
	url = https://github.com/vim-scripts/cscope_macros.vim.git
	ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "bundle/scala-vim-snippets"]
	path = bundle/scala-vim-snippets
	url = git@github.com:sursingh/scala-vim-snippets.git
	ignore = untracked
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
	ignore = untracked
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
	ignore = untracked
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-scripts/python.vim.git
	ignore = untracked
[submodule "bundle/VOoM"]
	path = bundle/VOoM
	url = https://github.com/vim-scripts/VOoM.git
	ignore = untracked
[submodule "bundle/c-support"]
	path = bundle/c-support
	url = https://sursingh@github.com/sursingh/c.vim.git
	ignore = untracked
[submodule "bundle/greputils"]
	path = bundle/greputils
	url = https://github.com/vim-scripts/greputils.git
	ignore = untracked
[submodule "bundle/multvals"]
	path = bundle/multvals
	url = https://github.com/vim-scripts/multvals.vim.git
	ignore = untracked
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
	ignore = untracked
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
	ignore = untracked
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
	ignore = untracked
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
	ignore = untracked
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
	ignore = untracked
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim
	ignore = untracked
[submodule "bundle/django-support"]
	path = bundle/django-support
	url = git://github.com/lambdalisue/vim-django-support.git
	ignore = untracked
[submodule "bundle/R"]
	path = bundle/R
	url = git://github.com/vim-scripts/Vim-R-plugin.git
	ignore = untracked
[submodule "bundle/screentmux"]
	path = bundle/screentmux
	url = git://github.com/vim-scripts/Screen-vim---gnu-screentmux.git
	ignore = untracked
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
